.table-hover tbody tr:hover {
    background-color: rgba(13, 110, 253, 0.02);
}

.btn-white {
    background-color: white;
    border: 1px solid #dee2e6;
}

.btn-white:hover {
    background-color: #f8f9fa;
}
